
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="text-bg">
                    <h1>We Are More Than A Car Rental Company</h1>
                    <span>
                        CORPORATE
                        RENTAL
                    </span>
                    <p>
                        We offer special mobility solutions for your company and we are happy to help you about business rental programs for your needs.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

