
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cont_call">
                    <h3>
                        <strong class="multi color_chang"> Call Now</strong><br>
                        (+90) 212 498 4141
                    </h3>
                </div>
                <div class="cont">
                    <h3>
                        <strong class="multi"> IKU </strong>
                        Computer Engineering Department
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>


