
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="car">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>OUR FLEET</h2>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 padding_leri">
                <div class="car_box">
                    <figure><img src="~/Images/car_img1.png" alt="#" /></figure>
                    <h3>Hundai</h3>
                </div>
            </div>
            <div class="col-md-4 padding_leri">
                <div class="car_box">
                    <figure><img src="~/Images/car_img2.png" alt="#" /></figure>
                    <h3>Audi</h3>
                </div>
            </div>
            <div class="col-md-4 padding_leri">
                <div class="car_box">
                    <figure><img src="~/Images/car_img3.png" alt="#" /></figure>
                    <h3>Bmw x5</h3>
                </div>
            </div>

            <div class="sign_btn">
                <a href="@Url.Action("Car_List","Home")" )>Explore All</a>
            </div>

        </div>
    </div>
</div>
<div id="contact" class="bestCar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6 offset-md-6">
                        <form class="main_form">
                            <div class="titlepage">
                                <h2>Start a Car Reservation</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <select>
                                        <option value="0">Choose car Make</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <select>
                                        <option value="0">Choose Car Type </option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="col-md-12">
                                    <select>
                                        <option value="0">Price of Rent</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <button class="find_btn">Find The Best Car</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

